extends ./layout/index

block contenido
    main.container.mt-5 
        div.row 
            div.col-md-5 
                img(src="/img/nosotros.jpg", alt="imagen-nosotros", class="img-fluid")  

            div.col-md-7
                h1=pagina

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a fermentum odio, ac vehicula nunc. Proin pretium efficitur est, nec ullamcorper ipsum sagittis id. Duis condimentum semper porttitor. Morbi et convallis enim. Proin ultrices lacus id lorem ornare blandit. Pellentesque vulputate erat sed libero auctor, in consectetur lorem ornare. Fusce quam erat, euismod ut lectus sit amet, dignissim varius risus.

                p Sed nec mauris nec mi cursus ultricies. Integer ullamcorper nibh scelerisque arcu dapibus pellentesque. Phasellus auctor tortor at enim auctor efficitur. Praesent et sagittis neque. Suspendisse euismod, enim vitae varius iaculis, sem dolor auctor quam, sit amet egestas metus enim nec nunc. Fusce sodales ornare urna at egestas. Nam hendrerit malesuada metus id lacinia. Etiam condimentum eleifend purus euismod accumsan. Phasellus cursus leo et magna facilisis, nec euismod ante finibus. Vivamus vel dapibus tortor.

                p In vel sem in risus interdum posuere. Nullam at elit vel turpis ullamcorper fermentum in ut massa. Vivamus commodo efficitur euismod. Etiam pellentesque magna et nisl egestas, finibus suscipit tortor lacinia. Nullam lectus metus, luctus sed lobortis in, tempor in erat. Phasellus finibus libero at iaculis commodo. Pellentesq

        div.listado-iconos
            .container.mt-5.py-5.text-center 
                .row 
                    .col-md-4
                        img(src="/img/icono_seguridad.svg" alt="icono de seguridad" class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p In vel sem in risus interdum posuere. Nullam at elit vel turpis ullamcorper fermentum in ut massa. Vivamus commodo efficitur euismod. Etiam pellentesque magna et nisl egestas, finibus suscipit tortor.
                    
                    .col-md-4
                        img(src="/img/icono_destinos.svg" alt="icono de seguridad" class="img-fluid mb-4")
                        h2.mb-4 Los Mejores Destinos
                        p In vel sem in risus interdum posuere. Nullam at elit vel turpis ullamcorper fermentum in ut massa. Vivamus commodo efficitur euismod. Etiam pellentesque magna et nisl egestas, finibus suscipit tortor.

                    .col-md-4
                        img(src="/img/icono_precios.svg" alt="icono de seguridad" class="img-fluid mb-4")
                        h2.mb-4 Los mejores precios
                        p In vel sem in risus interdum posuere. Nullam at elit vel turpis ullamcorper fermentum in ut massa. Vivamus commodo efficitur euismod. Etiam pellentesque magna et nisl egestas, finibus suscipit tortor.