extends ./layout/index

block contenido
    h1(class="mt-5 text-center") #{pagina}
    main.container.mt-5 
        //incuimos el bloque que ya tenemos para no duplicar codigo
        include ./layout/bloquesViajes