blockquote.text-center Lee sobre nuestros clientes y sus experiencias
        .row.testimoniales
            
            each testimonios in testimoniales 
            
                .col-md-6.col-lg-4.mb-4     
                    .card   
                        .card-body 
                            blockquote.blockquote 
                            p.mb-0  
                                | #{testimonios.mensaje}
                            footer.blockquote-footer
                                | #{testimonios.nombre}
